In [2]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [3]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [51]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now() 
df = pd.read_csv(f'landing/{arquivo}', sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao
df.head()

   NATBR    MAKTX WERKS  MAINS  LABST nome_arquivo              data_ingestao
0   1003    PREGO  BT10    100     60  z0019_2.csv 2025-07-17 09:28:13.014940
1   1004    SERRA  BT50    100    200  z0019_2.csv 2025-07-17 09:28:13.014940
2   1005  MACHADO  BT50    100    100  z0019_2.csv 2025-07-17 09:28:13.014940

In [52]:
con.execute('''
CREATE TABLE IF NOT EXISTS bronze_produtos (
    NATBR VARCHAR,
    MAKTX VARCHAR,
    WERKS VARCHAR,
    MAINS VARCHAR,
    LABST VARCHAR,
    nome_arquivo VARCHAR,
    data_ingestao TIMESTAMP
)
''')

In [56]:
resultado = con.execute('''SELECT * FROM bronze_produtos''').fetchdf()
resultado.head(6)

  NATBR     MAKTX WERKS MAINS LABST nome_arquivo              data_ingestao
0  1001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-07-17 09:08:33.382544
1  1002   MARTELO  BT50   100  1500  z0019_1.csv 2025-07-17 09:08:33.382544
2  1003     PREGO  BT10   100    50  z0019_1.csv 2025-07-17 09:08:33.382544
3  1003     PREGO  BT10   100    60  z0019_2.csv 2025-07-17 09:28:13.014940
4  1004     SERRA  BT50   100   200  z0019_2.csv 2025-07-17 09:28:13.014940
5  1005   MACHADO  BT50   100   100  z0019_2.csv 2025-07-17 09:28:13.014940

In [54]:
con.execute("""INSERT INTO bronze_produtos SELECT * FROM df""")

In [4]:
con.close()

In [ ]:
con.